<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>new_file</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="../css/channel/head_submenu.css" />
</head>
<body>
	<div id="header" class="g-clearfix">
		<div class="logo">
			V1.0
		</div>
		<div class="nav-list">
			<ul class="list g-clearfix">
				<li>
					<a href="#" class="nav-dispatch">调度管理</a>
					<div class="sub-menu">
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
					</div>
				</li>
				<li>
					<a href="#" class="nav-carservice">车务管理</a>
					<div class="sub-menu">
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
					</div>
				</li>
				<li>
					<a href="#" class="nav-operation">运营管理</a>
					<div class="sub-menu">
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
					</div>
				</li>
				<li>
					<a href="#" class="nav-report">报表统计</a>
					<div class="sub-menu">
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
					</div>
				</li>
				<li>
					<a href="#" class="nav-system">系统参数</a>
					<div class="sub-menu">
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
						<a href="#">调度管理</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="g-userbar">
		<div class="crumb">
			<span>当前位置:</span>
			<a href="#">首页</a>
			<span class="split">-&gt;</span>
			<a href="#">车务管理</a>
			<span class="split">-&gt;</span>
			<a href="#">加油管理</a>
		</div>
		<div class="login-status">
			<span class="status-tips"><span class="g-iconbg smile-ico"></span>欢迎您！管理员！ </span>
			<a class="change-pass" href="#">修改密码</a>
			<a class="logout" href="#"><span class="g-iconbg logout-ico"></span><span class="text">注销</span></a>
		</div>
	</div>
</body>
</html>