<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>page</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="../../css/channel/common.css" />
</head>
<body>
	<div class="g-search-wrap">
		<dl class="g-clearfix">
			<dt>
				<label for="in-car-count" class="search-label">车辆</label>
				<input id="in-car-count" type="text" class="g-input g-input-normal" />
			</dt>
			<dd>
				<input type="submit" class="g-btn-search" value="" />
			</dd>
			<dd>
				<span class="more">更多搜索条件</span>
			</dd>
		</dl>
		<dl class="g-clearfix">
			<dd>
				<label class="search-label">车辆品牌</label>
				<select class="g-select-normal">
					<option>布加迪</option>
					<option>兰博基尼</option>
					<option>宾利</option>
					<option>劳斯莱斯</option>
					<option>法拉利</option>
					<option>玛莎拉蒂</option>
				</select>
			</dd>
			<dd>
				<label class="search-label">车系</label>
				<select class="g-select-normal">
					<option>布加迪</option>
					<option>兰博基尼</option>
					<option>宾利</option>
					<option>劳斯莱斯</option>
					<option>法拉利</option>
					<option>玛莎拉蒂</option>
				</select>
			</dd>
			<dd>
				<label class="search-label">车型</label>
				<select class="g-select-normal">
					<option>布加迪</option>
					<option>兰博基尼</option>
					<option>宾利</option>
					<option>劳斯莱斯</option>
					<option>法拉利</option>
					<option>玛莎拉蒂</option>
				</select>
			</dd>
		</dl>
		<div class="search-tag">
			<a href="#">所有车辆</a>
			<span class="split-y">|</span>
			<a href="#">未处理</a>
			<span class="split-y">|</span>
			<a href="#">本月违章</a>
		</div>
	</div>
	<!--操作区域-->
	<div class="g-mod">
		<div class="g-operate">
			<input type="button" class="g-btn-normal" value="新建" />
			<input type="button" class="g-btn-normal" value="删除" />
			<input type="button" class="g-btn-normal" value="修改" />
			<input type="button" class="g-btn-highlight" value="批量删除" />
		</div>
		<!--表格数据-->
		<table class="g-table">
			<thead>
				<tr>
					<th>序号</th>
					<th>选择</th>
					<th>卡号</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>023</td>
					<td>toefl</td>
					<td>gmat</td>
				</tr>
				<tr>
					<td>023</td>
					<td>toefl</td>
					<td>gmat</td>
				</tr>
				<tr>
					<td>023</td>
					<td>toefl</td>
					<td>gmat</td>
				</tr>
				<tr>
					<td>023</td>
					<td>toefl</td>
					<td>gmat</td>
				</tr>
				<tr>
					<td>023</td>
					<td>toefl</td>
					<td>gmat</td>
				</tr>
				<tr>
					<td>023</td>
					<td>toefl</td>
					<td>gmat</td>
				</tr>
			</tbody>
		</table>
		<div class="s-page">
			<a href="#" class="g-btn-page">上一页</a>
			<a href="#" class="g-btn-page">下一页</a>
		</div>
	</div>
</body>
</html>