<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>UI说明</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="../../css/channel/common.css" />
	<style type="text/css">
		h2 {
			padding-bottom:10px;
			font-size:16px;
		}
		.sec {
			padding-bottom:30px;
		}
	</style>
</head>
<body>
	<div class="sec">
		<h2>button-理念上支持大部分常用标签：&lt;input type="submit" /&gt; &lt;button&gt; &lt;a&gt;</h2>
		<p>
			常用按钮:g-btn-normal<br />
			自适宽度：g-btn-normal g-btn-adaptive<br />
		</p>
		<p>
			<input type="button" value="新建" class="g-btn-normal">
			<input type="button" value="按为为非主伙不有了" class="g-btn-normal g-btn-adaptive">
		</p>
		<p>
			强调按钮:g-btn-highlight<br />
			自适宽度：g-btn-highlight g-btn-adaptive
		</p>
		<p>
			<input type="button" value="新建" class="g-btn-highlight">
			<input type="button" value="按为为非主伙不有了" class="g-btn-highlight g-btn-adaptive">
		</p>
		<p>
			上下页按钮:g-btn-page<br />
			自适宽度：g-btn-page g-btn-adaptive
		</p>
		<p>
			<input type="button" value="新建" class="g-btn-page">
			<input type="button" value="按为为非主伙不有了" class="g-btn-page g-btn-adaptive">
		</p>
	</div>
	<div class="sec">
		<h2>select</h2>
		<p>
			正常固定宽度：g-select-normal
			自适应宽度：g-select-normal g-select-adaptive
		</p>
		<p>
			<select class="g-select-normal">
				<option>布加迪</option>
				<option>兰博基尼</option>
				<option>宾利</option>
				<option>劳斯莱斯</option>
				<option>法拉利</option>
				<option>玛莎拉蒂</option>
			</select>
			<select class="g-select-normal g-select-adaptive">
				<option>布加迪</option>
				<option>兰博基尼</option>
				<option>宾利</option>
				<option>劳斯莱斯</option>
				<option>法拉利</option>
				<option>玛莎拉蒂</option>
			</select>
		</p>
	</div>
	<div class="sec">
		<h2>输入框</h2>
		<p>
			系统默认应宽度：g-input<br>
			固定宽度：g-input g-input-normal
		</p>
		<p>
			<input type="text" class="g-input" />
			<input type="text" class="g-input g-input-normal" />
		</p>
	</div>
	<div class="sec">
		<h2>表格：目前只有一种格式</h2>
		<p>
			默认单元格居中显示<br />
			居左：tb-align-left<br>
			居右：tb-align-right
		</p>
		<table class="g-table" style="width:80%;">
			<thead>
				<tr>
					<th class="tb-align-left">序号</th>
					<th>选择</th>
					<th>卡号</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tb-align-left">居左</td>
					<td class="tb-align-right">居右</td>
					<td class="tb-align-left">居左</td>
				</tr>
				<tr>
					<td>023</td>
					<td>toefl</td>
					<td>gmat</td>
				</tr>
				<tr>
					<td>023</td>
					<td>toefl</td>
					<td>gmat</td>
				</tr>
				<tr>
					<td>023</td>
					<td>toefl</td>
					<td>gmat</td>
				</tr>
				<tr>
					<td>023</td>
					<td>toefl</td>
					<td>gmat</td>
				</tr>
				<tr>
					<td>023</td>
					<td>toefl</td>
					<td>gmat</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>