<!DOCTYPE html>
<html>
<head>
	<title>全国土豪办最新发布：考研10大黄金专业！有你没你？谁最任性？</title>
	<meta charset="utf-8">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link type="text/css" rel="stylesheet" href="../css/style3.css?v3" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
	<div class="g-m-wrapper" id="scene">
		<div class="g-m-cover">
			<section class="sec sec1">
				<div class="hat">
					<span class="hat-main"></span>
					<span class="hat-tassels"></span>
				</div>
				<div class="desc">
					<p class="p1">全国土豪办权威发布</p>
					<p class="p2">2015最有钱途10大考研专业</p>
				</div>
				<div class="slogan">有你没你？能排第几？</div>
				<div class="g-arrow">
					<span class="g-m-ico arrow"></span>
				</div>
			</section>
			<!--1-->
			<section class="sec sec2">
				<div class="title">
					正在酷酷的进行「云计算」
				</div>
				<div class="loading">
					<p class="load-main">
						<span class="g-m-ico loading-ico"></span>
					</p>
					<span class="loading-text">... loading ...</span>
				</div>
				<div class="sub-title">
					云技术独家供应商－酷学网
				</div>
				<div class="bottom-side">
					<div class="split"></div>
				</div>
				<div class="slogan">嚣张排名马上揭晓</div>
				<div class="g-arrow">
					<span class="g-m-ico arrow"></span>
				</div>
			</section>
			<!--2-->
			<section class="sec sec3">
				<div class="taglist" style="display: block;">
					<div class="tags"></div>
					<div class="clound">
						<span class="g-m-ico clound-1"></span>
						<span class="g-m-ico clound-2"></span>
					</div>
				</div>
				<div class="student">
					<div class="ct-hair">
						<div class="g-m-ico hair"></div>
					</div>
					<div class="g-m-ico person"></div>
				</div>
				<div class="desc">
					<p>经过云计算，以上10大<span class="sp">砖</span>业</p>
					<p>
						并列第<span class="no-1">1</span>
					</p>
				</div>
				<div class="g-arrow">
					<span class="g-m-ico arrow"></span>
				</div>
			</section>
			<!--3-->
			<section class="sec sec4">
				<div class="title">
					<span class="words">
						<em class="word">尼</em><em class="word">玛</em><em class="word">耍</em><em class="word">老</em><em class="word">纸 </em>
					</span>
					<p class="sub-title">考研人跟你，什么冤，什么仇</p>
				</div>
				
				<div class="student">
					<div class="g-m-ico hair"></div>
					<div class="g-m-ico person"></div>
					<div class="qi-1"><span class="g-m-ico q-1"></span></div>
					<div class="qi-2"><span class="g-m-ico q-2"></span></div>
					<div class="g-m-ico per-bottom"></div>
				</div>
				<div class="desc">
					土豪，你若送我一打iPhone6 <br />
					咱们还能继续玩耍 *^__^*
				</div>
				<div class="g-arrow">
					<span class="g-m-ico arrow"></span>
				</div>
			</section>
			<!--4-->
			<section class="sec sec5">
				<div class="title">
					<span class="words">
						<em class="word">开</em><em class="word">锅</em><em class="word">玩</em><em class="word">笑</em><em class="word">啦 </em>
					</span>
					<p class="sub-title">原谅土豪这一生不羁<br/>只佩服过考研人</p>
				</div>
				
				<div class="g-m-ico phone">
					<div class="g-m-ico bullion"></div>
					<span class="btn-enter">一键送人</span>
				</div>
				<div class="desc">
					i 疯 6这么low！壕能拿得出手？<br />
					是时候分家产了！略任性，甭客气：）
				</div>
				<div class="g-arrow">
					<span class="g-m-ico arrow"></span>
				</div>
			</section>
			
			<section class="sec sec6">
				<div class="title">
					<span class="words">
						<em class="word">To</em><em class="word">考</em><em class="word">研</em><em class="word">人</em><em class="word">の </em><em class="word">金 </em><em class="word">喜 </em>
					</span>
					<p class="sub-title">他们非让加上这些话<br/>壕很反感呢~</p>
				</div>
				<div class="layer" data-depth="0.75">
					<div class="taglist">
						<p>
							<span class="tag tag-1">不忍直视</span>
						</p>
						<p>
							<span class="tag tag-2">考研史上第一惊喜</span>
						</p>
						<p>
							<span class="tag tag-3">独家命题预测</span>
							<span class="tag tag-4">临考暴力抢分</span>
						</p>
						<p>
							<span class="tag tag-5">干货密集</span>
							<span class="tag tag-6">猛料扎堆</span>
						</p>
						<p>
							<span class="tag tag-7">全球同步直播</span>
							<span class="tag tag-8">酷学网 koo.cn</span>
						</p>
						<p>
							<span class="tag tag-9">公共课+专业课</span>
							<span class="tag tag-10">最后点题</span>
						</p>
						<p>
							<span class="tag tag-11">看到眼泪掉下来</span>
						</p>
						<p>
							<span class="tag tag-12">画面太美</span>
						</p>
					</div>
				</div>
				
				<div class="desc">壕已凌乱，你们感受一下</div>
				
				<div class="g-arrow">
					<span class="g-m-ico arrow"></span>
				</div>
					
			</section>
			
			<section class="sec sec7">
				<div class="title">
					<span class="words">
						<em class="word">可</em><em class="word">能</em><em class="word">是</em><em class="word">考</em><em class="word">研 </em><em class="word">界 </em><em class="word">仅 </em><em class="word">存</em><em class="word">的</em>
						<span class="line"></span>
					</span>
					<p class="sub-title">
						<span class="sub-title-text">良心广告</span>
					</p>
				</div>
				<div class="layer" data-depth="0.75">
					<div class="taglist">
						<p>
							<span class="tag tag-1">音乐</span>
							<span class="tag tag-2">经济学</span>
							<span class="tag tag-3">教育</span>
						</p>
						<p>
							<span class="tag tag-4">音乐</span>
							<span class="tag tag-5">管理类联考</span>
							<span class="tag tag-6">美术</span>
						</p>
						<p>
							<span class="tag tag-7">经济学</span>
							<span class="tag tag-8">音乐</span>
							<span class="tag tag-9">心理学</span>
						</p>
						<p>
							<span class="tag tag-10">西医综合</span>
							<span class="tag tag-11">教育学</span>
							<span class="tag tag-12">美术</span>
						</p>
						<p>
							<span class="tag tag-13">美术</span>
							<span class="tag tag-14">法律硕士（非法学）</span>
						</p>
						<p>
							<span class="tag tag-15">音乐</span>
							<span class="tag tag-16">经济学</span>
							<span class="tag tag-17">翻译硕士</span>
						</p>
						<p>
							<span class="tag tag-18">翻译硕士</span>
							<span class="tag tag-19">美术</span>
						</p>
						<p>
							<span class="tag tag-20">音乐</span>
							<span class="tag tag-21">公外日语</span>
							<span class="tag tag-22">音乐</span>
						</p>
					</div>
				</div>
				
				<div class="desc">
					<p class="tips">2015考研 公共课+专业课 最后直播点题</p>
					<p>
						<span class="login">登陆 koo.cn</span><span class="price">￥20起，全部技能Get<em class="g-m-ico right"></em></span>
					</p>
					<p class="tips">中国考研史上独家创举</p>
				</div>
				
				<div class="g-arrow">
					<span class="g-m-ico arrow"></span>
				</div>
					
			</section>
			
			<section class="sec sec8">
				<div class="title">
					<span class="words">
						<em class="word">考</em><em class="word">研</em><em class="word">人</em><em class="word">非</em><em class="word">帅 </em><em class="word">即</em><em class="word">美</em>
					</span>
					<p class="sub-title">你的研，壕已承包。壕的广告，你忍心不转发？<br/>趁这寒冬，温暖身边那个考研的TA </p>
				</div>
				
				<div class="g-m-ico phone">
				</div>
				<div class="phone-content">
					<div class="g-m-ico friends"></div>
					<p class="slogan">在家靠父母<br />考研靠朋友</p>
					<p>
						<span class="btn-share js-share">转发</span><span class="btn-order js-share">约吗</span>
					</p>
				</div>
				<div class="g-m-ico logo"></div>
			</section>
			
			
		</div>
		<div class="g-m-cover-page" style="display:none;">
			<span class="page curpage"></span>
			<span class="page"></span>
			<span class="page"></span>
			<span class="page"></span>
			<span class="page"></span>
			<span class="page"></span>
		</div>
	</div>
	<div class="layer-share" id="js-layer-share">
		<p>分享至朋友圈，并截图</p>
		<p>发送到<span class="koo">酷学网</span>官方账号</p>
		<p>壕每天派发10个免费公共课直播</p>
	</div>
	<div class="music">
		<audio src="../images/zw.mp3?v3" autoplay="autoplay" preload="metadata" loop="loop" id="bgMusic"></audio>
	</div>
	<div id="musicPlay" class="music-ico music-ico-on"></div>
	<script src="http://up.qq.com/2014/invitation/parallax.js"></script>
	<script type="text/javascript" src="../js/zepto.js"></script>
	<script type="text/javascript" src="../js/app.js?v3"></script>
	<script type="text/javascript">
		var layerTimmer = null;
		$(function(){
			var wxApp = {
				count:0,
				loaded: function(imgs, callBack){
					var len = imgs.length
					,	i
					,	self = this
					;
					
					this.totalCount = len;
					for(var i=0; i<len; i++) {
						this.loadImage(imgs[i], function(){
							self.count++;
							if(self.count == self.totalCount) {
								if(callBack) {
									callBack();
								}
							}
						});
					}
				},
				loadImage: function(url, callBack){
					var img = new Image()
					,	self = this
					;
					img.src = url;
					img.onload = function(){ 
					   callBack.call(self);
					};
				}
			};
			$(document).ready(function(){
				var images = ["../css/img/common.png"];
				wxApp.loaded(images, function(){
					appCover.init($(".g-m-cover"));
				});
			});
			var scene = document.getElementById('scene');
			var parallax = new Parallax(scene);
			var $layer = $("#js-layer-share");
			$(".js-share").on("touchstart", function(){
				$layer.show();
				if(layerTimmer) {
					clearTimeout(layerTimmer);
					layerTimmer = null;
				}
				layerTimmer = setTimeout(function(){
					$layer.hide();
				}, 3e3);
			});
		});
	</script>
</body>
</html>