@import url("../mod/reset.css");
@import url("../mod/widget.css");
html {
    background:#f5f5f5;
}
body {
    padding-left:5px;
}
.g-operate {
    margin-bottom:10px;
}
.g-operate .g-btn-normal {
    margin-right:5px;
}
.s-page .g-btn-page {
    margin-right:5px;
}
