<!DOCTYPE html>
<html class="s-result s-result-a">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="Description" content="demo">
	<meta name="Keywords" content="demo">
	<link rel="stylesheet" type="text/css" href="../css/style.css?v5" />
	<title>demo</title>
</head>
<body>
	<div class="wrapper">
		<section class="sec sec-1">
			<div class="top"></div>
			<div class="mask"><div class="mask-bg"></div></div>
			<div class="run"></div>
			<div class="running hide"></div>
			<div class="logo"></div>
			<div class="btn-pull"></div>
			<article class="preface">
				<p class="p1">上帝会偏爱那些勇敢的、多情的、始终坚定的人，你不要怀疑不要犹豫，只要攥紧梦想勇敢奔跑，总有一天会看到绿洲。</p>
				<p class="p2">——惟念《哲思——攥紧梦想奔跑，总会看到绿州。》</p>
			</article>
			<div class="arrow hide"></div>
		</section>
		<section class="sec sec-begin">
			<div class="top"></div>
			<div class="bottom"></div>
			<div class="btn-enter"></div>
		</section>
		<section class="sec sec-test">
			<h2 class="title">压力测试</h2>
			<div class="question">
				<div class="que que-1">
					<div class="opts opts-1" data-score="5"></div>
					<div class="opts opts-2" data-score="3"></div>
					<div class="opts opts-3" data-score="1"></div>
				</div>
				<div class="que que-2 hide">
					<div class="opts opts-1" data-score="5"></div>
					<div class="opts opts-2" data-score="3"></div>
					<div class="opts opts-3" data-score="1"></div>
				</div>
				<div class="que que-3 hide">
					<div class="opts opts-1" data-score="1"></div>
					<div class="opts opts-2" data-score="3"></div>
					<div class="opts opts-3" data-score="5"></div>
				</div>
				<div class="que que-4 hide">
					<div class="opts opts-1" data-score="5"></div>
					<div class="opts opts-2" data-score="3"></div>
					<div class="opts opts-3" data-score="1"></div>
				</div>
				<div class="que que-5 hide">
					<div class="opts opts-1" data-score="5"></div>
					<div class="opts opts-2" data-score="3"></div>
					<div class="opts opts-3" data-score="1"></div>
				</div>
				<div class="que que-6 hide">
					<div class="opts opts-1" data-score="1"></div>
					<div class="opts opts-2" data-score="3"></div>
					<div class="opts opts-3" data-score="5"></div>
				</div>
				<div class="que que-7 hide">
					<div class="opts opts-1" data-score="1"></div>
					<div class="opts opts-2" data-score="3"></div>
					<div class="opts opts-3" data-score="5"></div>
				</div>
				<div class="que que-8 hide">
					<div class="opts opts-1" data-score="5"></div>
					<div class="opts opts-2" data-score="3"></div>
					<div class="opts opts-3" data-score="1"></div>
				</div>
				<div class="que que-9 hide">
					<div class="opts opts-1" data-score="5"></div>
					<div class="opts opts-2" data-score="3"></div>
					<div class="opts opts-3" data-score="1"></div>
				</div>
				<div class="que que-10 hide">
					<div class="opts opts-1" data-score="5"></div>
					<div class="opts opts-2" data-score="1"></div>
					<div class="opts opts-3" data-score="3"></div>
				</div>
				<div class="que que-11 hide">
					<div class="opts opts-1" data-score="5"></div>
					<div class="opts opts-2" data-score="1"></div>
					<div class="opts opts-3" data-score="3"></div>
				</div>
				<div class="que que-12 hide last">
					<div class="opts opts-1" data-score="5"></div>
					<div class="opts opts-2" data-score="3"></div>
					<div class="opts opts-3" data-score="1"></div>
				</div>
			</div>
			<div class="logo-mini"></div>
		</section>
		<section class="sec sec-result">
			<div class="result-bg">
				<div class="result">
					<span class="score"></span>
				</div>
			</div>
			<div class="result-arr">
				<div class="arrow"></div>
			</div>
			<div class="logo-mini"></div>
		</section>
		<section class="sec sec-switch">
			<div class="text">
				<p><span class="hl">奔跑，</span></p>
				<p>是一种行为，</p>
				<p>一种状态，</p>
				<p>更是一种精神和信念。</p>
				<p>它仿佛具有魔力，</p>
				<p>能释放我们的身心！</p>
			</div>
			<div class="arrow"></div>
		</section>
		<section class="sec sec-slogan">
			<div class="slogan slogan-1">
				<div class="text">
					<p>于是，</p>
					<p>奔跑成为一种简单而可贵的姿势，</p>
					<p>蕴涵着不可摧的力量，</p>
					<p>那就是永远向前的勇气和信念。</p>
					<p>人生要不断的向前，</p>
					<p>人生便需要奔跑。</p>
					<p>——《罗拉快跑》</p>
				</div>
				<div class="arrow"></div>
			</div>
			<div class="slogan slogan-2">
				<div class="text">
					<p>长跑后的慢走放松</p>
					<p>是一种缓慢的奢侈，</p>
					<p>一种带有深刻疼痛的满足感。</p>
					<p>——《雨中的3分58秒》</p>
				</div>
				<div class="arrow"></div>
			</div>
			<div class="slogan slogan-3">
				<div class="text">
					<p>孤灯夜下，一个人跑，表面上看，</p>
					<p>似乎只有你一个人孤独地奔跑，但</p>
					<p>是在你灵魂深处，你感觉到有许多</p>
					<p>牛人和你一起奔跑。这时的你，感</p>
					<p>觉不再是孤单，而是和众多志同道</p>
					<p>合的朋友为实现各自的理想而一起</p>
					<p>奋勇拼搏。</p>
					<p>——赵星《挺住，意味着一切》</p>
				</div>
				<div class="arrow"></div>
			</div>
			<div class="slogan slogan-4">
				<div class="text">
					<p>长跑选手倒像是冷静稳重的信差，奔</p>
					<p>跑在田间小径和山林道路上，忍受长</p>
					<p>达数小时的孤独，就为了执行自己的</p>
					<p>计划……身上背负着的使命，在他们</p>
					<p>浩瀚的思绪里不过九牛一毛罢了。他</p>
					<p>们是活在自己世界里的人。早在千百</p>
					<p>年前就是这样，直到今天依旧如此。</p>
					<p>——《雨中的3分58秒》</p>
				</div>
				<div class="arrow"></div>
			</div>
			<div class="slogan slogan-5">
				<div class="text">
					<p>在他内心里，时光总是占据着一个</p>
					<p>特定的角落——对他来说，一分钟</p>
					<p>的消逝有各种不同的意义。一分钟</p>
					<p>是四分钟跑完一千六百米的四分之</p>
					<p>一；在他的生命之河里，一分钟只</p>
					<p>是一小瓢罢了。</p>
					<p>——《雨中的3分58秒》</p>
				</div>
				<div class="arrow"></div>
			</div>
			<div class="slogan slogan-6">
				<div class="text">
					<p>樱花落下的速度是每秒五厘米，雪</p>
					<p>花落下的速度也是；而我，该用什</p>
					<p>么样的速度去生活，才能赶上与你</p>
					<p>的相逢？我们即使发了一千次的短</p>
					<p>信......但心与心之间 估计只能接</p>
					<p>近一厘米。</p>
					<p>——新海诚《秒速5厘米》</p>
				</div>
				<div class="arrow"></div>
			</div>
			<div class="slogan slogan-7">
				<div class="text">
					<p>如果你不得不跪在地上，如果你承受</p>
					<p>的压力无法使你站立，那就用双膝奔</p>
					<p>跑吧。不要害怕双膝会被磨破。只要</p>
					<p>你做好了所有的准备，幸福的结局就</p>
					<p>一定会在你磨平双膝前找到你，并亲</p>
					<p>自将你扶起。世界可能会无视你的独</p>
					<p>一无二，也可能根本不会承认你的努</p>
					<p>力，但只要你坚守，世界不可能永远</p>
					<p>无视你的存在。</p>
					<p>——《没有翅膀，所以努力奔跑》</p>
				</div>
				<div class="arrow"></div>
			</div>
			<div class="slogan slogan-8">
				<div class="text">
					<p>跑步是一种独特的体验，它融合了人</p>
					<p>类的两种原始冲动：恐惧与快感。无</p>
					<p>论是害怕了还是快活了，我们都会去</p>
					<p>跑步。既是奔跑着逃开不幸，也是奔</p>
					<p>跑着追寻幸福。</p>
					<p>——克里斯托弗•麦克杜格尔《天生</p>
					<p>就会跑》</p>
				</div>
				<div class="arrow"></div>
			</div>
			<div class="slogan slogan-9">
				<div class="text">
					<p>青春是丛林，</p>
					<p>是荒原，</p>
					<p>是阳光炙热的奔跑，</p>
					<p>是大雨滂沱的伫立。</p>
					<p>——张嘉佳《从你的全世界路过》</p>
				</div>
				<div class="arrow"></div>
			</div>
		</section>
		<section class="sec sec-end">
			<div class="end-top"></div>
			<div class="end-main"></div>
			<div class="end-run"></div>
			<div class="end-wx"></div>
		</section>
	</div>
	<!--<script type="text/javascript" src="../js/channel/jquery.js"></script>-->
	<script type="text/javascript" src="../js/channel/zepto.js"></script>
	<script type="text/javascript" src="../js/channel/touch.js"></script>
	<script type="text/javascript" src="../js/channel/fx.js"></script>
	<script type="text/javascript" src="../js/channel/run.js"></script>
</body>
</html>