<!DOCTYPE html>
<html class="s-result s-result-a">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="Description" content="demo">
	<meta name="Keywords" content="demo">
	<link rel="stylesheet" type="text/css" href="../css/style.css?v4" />
	<title>demo</title>
</head>
<body>
	<div class="wrapper">
		<section class="sec sec-1">
			<div class="top"></div>
			<div class="mask"><div class="mask-bg"></div></div>
			<div class="run" style="display:none;"></div>
			<div class="running"></div>
			<div class="logo"></div>
			<div class="btn-pull"></div>
			<article class="preface">
				<p class="p1">上帝会偏爱那些勇敢的、多情的、始终坚定的人，你不要怀疑不要犹豫，只要攥紧梦想勇敢奔跑，总有一天会看到绿洲。</p>
				<p class="p2">——惟念《哲思——攥紧梦想奔跑，总会看到绿州。》</p>
			</article>
			<div class="arrow"></div>
		</section>
		<section class="sec sec-begin">
			<div class="top"></div>
			<div class="bottom"></div>
			<div class="btn-enter"></div>
		</section>
		<section class="sec sec-test">
			<h2 class="title">压力测试</h2>
			<div class="question">
				<div class="que-1">
					<div class="opts opts-1"></div>
					<div class="opts opts-2"></div>
					<div class="opts opts-3"></div>
				</div>
			</div>
			<div class="logo-mini"></div>
		</section>
	</div>
	<script type="text/javascript" src="../js/channel/jquery.js"></script>
	<script type="text/javascript" src="../js/channel/run.js?v2"></script>
</body>
</html>