@import url("../../common/css/channel/common.css");
.wrapper {
    overflow:hidden;
}
.sec {
    position:relative;
}
.sec .hide {
    display:none;
}
.sec-1 {
    background:url(img/sec01.jpg) no-repeat;
    background-size:cover;
}
.sec-1 .top {
    position:absolute;top:0;left:0;z-index:4;
    height:61px;width:100%;
    background:url(img/top.png) repeat-x;
}
.sec-1 .mask {
    position: absolute;z-index:3;left:0;top:0;
    width:100%;height:440px;
}
.sec-1 .mask .mask-bg {
    position: absolute;z-index:3;left:-60px;top:0;
    width:150%;height:440px;
    background:url(img/mu_2.png) no-repeat left bottom;
    background-size:auto 100%;
}
.sec-1 .run {
    position:absolute;left:-10px;top:0;z-index:5;
    width:99px;height:450px;
    background:url(img/run.png) no-repeat left bottom;
}
.sec-1 .running {
    position:absolute;left:-10px;top:0;z-index:5;
    width:99px;height:450px;
    background:url(img/run.gif) no-repeat left bottom;
}
.sec-1 .logo {
    position:absolute;left:50%;top:70px;z-index:5;
    width:242px;height:226px;margin-left:-121px;
    background:url(img/logo_sec1.png) no-repeat;
}
.sec-1 .btn-pull {
    position:absolute;left:50%;bottom:20px;z-index: 5;
    width:123px;height:45px;margin-left:-61px;
    background:url(img/btn_pull.png) no-repeat;
}
.sec-1 .preface {
    position:absolute;top:180px;z-index:2;
    width:100%;padding:0 40px;
    color:#fff;
}
.sec-1 .preface .p1 {
    padding-bottom:20px;
}
.sec .arrow {
    position:absolute;bottom:30px;left:50%;
    width:26px;height:29px;margin-left:-13px;
    background:url(img/arrow.png) no-repeat;
    -webkit-animation: arrow 0.5s infinite;
    -moz-animation: arrow 0.5s infinite;
    -ms-animation: arrow 0.5s infinite;
    -o-animation: arrow 0.5s infinite;
    animation: arrow 0.5s infinite;
}
@-webkit-keyframes arrow {
    from {bottom:30px;}
    to   {bottom:20px;}
}
@-moz-keyframes arrow {
    from {bottom:30px;}
    to   {bottom:20px;}
}
@-ms-keyframes arrow {
    from {bottom:30px;}
    to   {bottom:20px;}
}
@-o-keyframes arrow {
    from {bottom:30px;}
    to   {bottom:20px;}
}
@keyframes arrow {
    from {bottom:30px;}
    to   {bottom:20px;}
}
/**/
.sec-begin {
    background:url(img/sec_begin.jpg) no-repeat;
    background-size:cover;
}
.sec-begin .top {
    position:absolute;top:30px;left:0;
    background:url(img/sec_begin_01.png) no-repeat center top;
    width:100%;height:151px;
}
.sec-begin .bottom {
    position: absolute;bottom:0;left:0;
    height:120px;width:100%;
    background:url(img/sec_begin_02.png) no-repeat center top;
}
.sec-begin .btn-enter {
    position:absolute;left:50%;top:50%;z-index:2;
    width:154px;height:93px;margin-left:-77px;
    background:url(img/sec_begin_enter.png) no-repeat;    
}
/**/
.sec-test {
    background:url(img/sec_test.jpg) no-repeat;
    background-size:cover;
}
.sec-test .title {
    position:absolute;bottom:252px;
    width:100%;height:45px;overflow:hidden;
    background:url(img/test_title.png) no-repeat center top;
    text-indent:-9999px;
}
.sec-test .question {
    position:absolute;bottom:58px;
    height:194px;width:100%;
}
.sec-test .question .opts {
    text-indent:-9999px;
}
.sec-test .question .opts-1 {
    position: absolute;left:50%;bottom:88px;z-index:1;
    width:233px;height:44px;margin-left:-113px;
}
.sec-test .question .opts-2 {
    position: absolute;left:50%;bottom:45px;z-index:2;
    width:215px;height:50px;margin-left:-84px;
}
.sec-test .question .opts-3 {
    position: absolute;left:50%;bottom:7px;z-index:3;
    width:198px;height:41px;margin-left:-111px;
}
.sec-test .question .que-1 {
    height:194px;
    background:url(img/que-1.png) no-repeat center top;
}
.sec-test .question .que-2 {
    height:194px;
    background:url(img/que-2.png) no-repeat center top;
}
.sec-test .question .que-3 {
    height:194px;
    background:url(img/que-3.png) no-repeat center top;
}
.sec-test .question .que-4 {
    height:194px;
    background:url(img/que-4.png) no-repeat center top;
}
.sec-test .question .que-5 {
    height:194px;
    background:url(img/que-5.png) no-repeat center top;
}
.sec-test .question .que-6 {
    height:194px;
    background:url(img/que-6.png) no-repeat center top;
}
.sec-test .question .que-7 {
    height:194px;
    background:url(img/que-7.png) no-repeat center top;
}
.sec-test .question .que-8 {
    height:194px;
    background:url(img/que-8.png) no-repeat center top;
}
.sec-test .question .que-9 {
    height:194px;
    background:url(img/que-9.png) no-repeat center top;
}
.sec-test .question .que-10 {
    height:194px;
    background:url(img/que-10.png) no-repeat center top;
}
.sec-test .question .que-11 {
    height:194px;
    background:url(img/que-11.png) no-repeat center top;
}
.sec-test .question .que-12 {
    height:194px;
    background:url(img/que-12.png) no-repeat center top;
}
.sec .logo-mini {
    position:absolute;left:50%;bottom:0;
    width:111px;height:58px;margin-left:-55px;
    background:url(img/logo_mini.png) no-repeat;
}
/**/
.sec-result {
    background:url(img/sec_result.jpg) no-repeat;
    background-size:cover;
}
.sec-result .result-bg {
    position:absolute;left:50%;bottom:60px;
    width:303px;height:293px;margin-left:-151px;
    background:url(img/r_bg.png) no-repeat;
}
.sec-result .result {
    position:absolute;left:23px;top:100px;
    width:236px;height:130px;
}
.sec-result .result-r1 {
    background:url(img/r_1.png) no-repeat;
}
.sec-result .result-r2 {
    background:url(img/r_2.png) no-repeat;
}
.sec-result .result-r3 {
    background:url(img/r_3.png) no-repeat;
}
.sec-result .result-r4 {
    background:url(img/r_4.png) no-repeat;
}
.sec-result .result-r5 {
    background:url(img/r_5.png) no-repeat;
}
.sec-result .score {
    position:absolute;left:132px;top:-2px;
    width:40px;
    display:block;
    color:#000;text-align:center;font-size:24px;
}
.sec-result .result-arr {
    position:absolute;left:0;bottom:87px;
    width:100%;
}
/**/
.sec-switch {
    background:url(img/sec_switch.jpg) no-repeat;
    background-size:cover;
}
.sec-switch .text {
    padding-top:80px;
    text-align:center;font-size:16px;line-height:2;
}
.sec-switch .text .hl {
    font-size:24px;
}
/**/
.sec-slogan .slogan {
    position: relative;
    display:none;
}
.sec-slogan .slogan-1 {
    background:url(img/slogan1.jpg) no-repeat;
    background-size:cover;
}
.sec-slogan .slogan-2 {
    background:url(img/slogan2.jpg) no-repeat;
    background-size:cover;
}
.sec-slogan .slogan-3 {
    background:url(img/slogan3.jpg) no-repeat;
    background-size:cover;
}
.sec-slogan .slogan-4 {
    background:url(img/slogan4.jpg) no-repeat;
    background-size:cover;
}
.sec-slogan .slogan-5 {
    background:url(img/slogan5.jpg) no-repeat;
    background-size:cover;
}
.sec-slogan .slogan-6 {
    background:url(img/slogan6.jpg) no-repeat;
    background-size:cover;
}
.sec-slogan .slogan-7 {
    background:url(img/slogan7.jpg) no-repeat;
    background-size:cover;
}
.sec-slogan .slogan-8 {
    background:url(img/slogan8.jpg) no-repeat;
    background-size:cover;
}
.sec-slogan .slogan-9 {
    background:url(img/slogan9.jpg) no-repeat;
    background-size:cover;
}
.sec-slogan .text {
    position:absolute;
    width:100%;
    font-weight: bold;
}
.sec-slogan .slogan-1 .text {
    bottom:70px;
    text-align:center;
}
.sec-slogan .slogan-2 .text {
    top:40px;
    text-align:center;line-height:2;
}
.sec-slogan .slogan-3 .text {
    bottom:70px;
    padding-left:40px;
    line-height:2;
}
.sec-slogan .slogan-4 .text {
    bottom:70px;
    padding-left:40px;
    line-height:2;
}
.sec-slogan .slogan-5 .text {
    bottom:70px;
    padding-left:40px;
    line-height:2;
}
.sec-slogan .slogan-6 .text {
    bottom:70px;
    padding-left:40px;
    line-height:2;
}
.sec-slogan .slogan-7 .text {
    top:30px;
    padding-left:40px;
    line-height:2;
}
.sec-slogan .slogan-8 .text {
    top:40px;
    padding-left:40px;
    line-height:2;
}
.sec-slogan .slogan-9 .text {
    top:40px;
    padding-left:40px;
    line-height:2;text-align:center;
}
/**/
.sec-end {
    background:url(img/sec_end.jpg) no-repeat;
    background-size:cover;
}
.sec-end .end-top {
    width:100%;height:180px;
    background:url(img/end_top.png) no-repeat center top;
}
.sec-end .end-main {
    width:100%;height:138px;
    background:url(img/end_main.jpg) no-repeat center top;
    background-size:cover;
}
.sec-end .end-run {
    width:100%;height:28px;
    background:url(img/end_run.png) no-repeat center top;
    -webkit-animation: runText 0.5s infinite;
    -moz-animation: runText 0.5s infinite;
    -ms-animation: runText 0.5s infinite;
    -o-animation: runText 0.5s infinite;
    animation: runText 0.5s infinite;
}
.sec-end .end-wx {
    width:100%;height:134px;
    background:url(img/end_wx.png) no-repeat center top;
}
@-webkit-keyframes runText {
    35% {-webkit-transform:scale(0.95);opacity: 0.8}
    70% {-webkit-transform:scale(1.1);opacity:1}
    100% {-webkit-transform:scale(1);opacity:0.9}
}
@-moz-keyframes runText {
    35% {-moz-transform:scale(0.95);opacity: 0.8}
    70% {-moz-transform:scale(1.1);opacity:1}
    100% {-moz-transform:scale(1);opacity:0.9}
}
@-ms-keyframes runText {
    35% {-ms-transform:scale(0.95);opacity: 0.8}
    70% {-ms-transform:scale(1.1);opacity:1}
    100% {-ms-transform:scale(1);opacity:0.9}
}
@-o-keyframes runText {
    35% {-o-transform:scale(0.95);opacity: 0.8}
    70% {-o-transform:scale(1.1);opacity:1}
    100% {-o-transform:scale(1);opacity:0.9}
}
@keyframes runText {
    35% {transform:scale(0.95);opacity: 0.8}
    70% {transform:scale(1.1);opacity:1}
    100% {transform:scale(1);opacity:0.9}
}