.home-wrap {
    position: relative;
    width:100%;height:540px;
}
.home-wrap .item {
    position:absolute;z-index:2;
    -webkit-transform:rotate(-45deg);
       -moz-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
         -o-transform:rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin:center center;
       -moz-transform-origin:center center;
        -ms-transform-origin:center center;
         -o-transform-origin:center center;
            transform-origin:center center;
    -webkit-transition:all 0.2s ease-in;
       -moz-transition:all 0.2s ease-in;
        -ms-transition:all 0.2s ease-in;
         -o-transition:all 0.2s ease-in;
            transition:all 0.2s ease-in;
    cursor: pointer;
}
.home-wrap .item .avatar {
    width:190px;height:190px;
}
.home-wrap .item:hover {
    z-index:3;
    transform:scale(2) rotate(-45deg);
}
.home-wrap .item .slogan {
    -webkit-transform:scale(0.5) rotate(45deg);
       -moz-transform:scale(0.5) rotate(45deg);
        -ms-transform:scale(0.5) rotate(45deg);
         -o-transform:scale(0.5) rotate(45deg);
            transform: scale(0.5) rotate(45deg);
    -webkit-transform-origin:center center;
       -moz-transform-origin:center center;
        -ms-transform-origin:center center;
         -o-transform-origin:center center;
            transform-origin:center center;
     opacity: 0;
}
.home-wrap .item:hover .slogan {
    opacity: 1;
}
.home-wrap .item .slogan-1 {
    position:absolute;left:-100px;bottom:76px;
    width:234px;height:103px;overflow:hidden;
    background:url(../img/slogan_1.png) no-repeat;
}
.home-wrap .item .slogan-2 {
    position:absolute;right:-155px;top:44px;
    width:234px;height:103px;overflow:hidden;
    background:url(../img/slogan_2.png) no-repeat;
}
.home-wrap .item .slogan-3 {
    position:absolute;right:-155px;top:44px;
    width:234px;height:103px;overflow:hidden;
    background:url(../img/slogan_3.png) no-repeat;
}
.home-wrap .item-1 {
    left:50%;margin-left:-429px;
    top:239px;
    width:190px;height:190px;
}
.home-wrap .item-2 {
    left:50%;top:105px;margin-left:-295px;
    width:190px;height:190px;
}
.home-wrap .item-3 {
    left:50%;top:50%;margin-left:-95px;margin-top:-95px;
    width:190px;height:190px;
}
.home-wrap .item-tag {
    position:absolute;left:50%;margin-left:140px;z-index:4;
    top:50%;margin-top:-110px;
    width:220px;height:220px;
}
.home-wrap .item-tag .tagbg {
    position:absolute;left:0;top:0;z-index:1;
    border:15px solid #08f0ff;
    width:220px;height:220px;
    background:#000;
    -webkit-transform:rotate(-45deg);
       -moz-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
         -o-transform:rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin:center center;
       -moz-transform-origin:center center;
        -ms-transform-origin:center center;
         -o-transform-origin:center center;
            transform-origin:center center;
}
.home-wrap .item-tag .desc {
    position:absolute;left:50%;margin-left:-95px;z-index:2;
    width:190px;height:190px;
}
.home-wrap .item-tag .title {
    border-bottom:1px solid #ccc;padding:36px 0 12px;
    color:#fff;font-size:20px;text-align:center;
}
.home-wrap .item-tag .tags {
    width:140px;margin:0 auto;
    padding-top:18px;
    color:#fff;text-align:center;font-size:16px;
}
.home-wrap .shadow {
    position:absolute;bottom:0;
    width:100%;height:26px;
    background:url(../img/home_shadow.png) no-repeat center top;
}
