<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="Description" content="魅力测试">
	<meta name="Keywords" content="魅力测试">
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
	<title>魅力测试</title>
</head>
<body>
	<header class="g-banner">
		<img src="../images/banner_01.jpg" class="img-banner" />
	</header>
	<article class="g-content">
		<div class="desc">
			要成为一个非凡的男性，首先要具有迷人的魅力。你了解自己对女性交往的艺术吗？只要回答一下测试题就能马上知道自己的魅力所在了。
		</div>
		<div class="qa">
			<h2 class="question">1.你对生活的态度</h2>
			<ul class="answer-list">
				<li>
					<input type="radio" id="glamour_1_1" name="glamour" value="20" />
					<label for="glamour_1_1">充满热情</label>
				</li>
				<li>
					<input type="radio" id="glamour_1_2" name="glamour" value="20" />
					<label for="glamour_1_2">充满热情</label>
				</li>
				<li>
					<input type="radio" id="glamour_1_3" name="glamour" value="20" />
					<label for="glamour_1_3">充满热情</label>
				</li>
				<li>
					<input type="radio" id="glamour_1_4" name="glamour" value="20" />
					<label for="glamour_1_4">充满热情</label>
				</li>
			</ul>
		</div>
	</article>
</body>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/game.js"></script>
</html>