/*
 * reset css
 * qiang.huang
 */
html,body {
	margin:0;padding:0;
	background:#fff;
}
body {
	font:14px/1.5 tahoma,Arial,"微软雅黑","Microsoft Yahei";
}
h1,h2,h3,h4,h5,h6,
div,ul,ol,dl,li,dt,dd,
p,em,i,b,cite,del,strong,pre,code,address,
form,fieldset,legend,input,textarea,select,
table,caption,thead,th,tbody,td,tfoot,
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	margin:0;padding:0;
	font-size:100%;font-style:normal;font-weight:normal;word-wrap:break-word;
	outline:none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display:block;
}
table {
	border-collapse:collapse;
	table-layout:fixed;
}
li {
	list-style:none;
}
img {
	border:0;
}
input,textarea,select {
	background:#fff;
	font-size:14px;font-family:arial,"microsoft Yahei";
}
a {
	color:#333;text-decoration:none;outline:none;
}
a:hover {
	color:#2072e9;text-decoration:underline;
}
/*
 * 常用的一些样式
 * 兼容原先的公用样式的定义
 */
.g-clearfix {
	*zoom:1;
}
.g-clearfix:after {
  content: "";
  height: 0;overflow:hidden;
  clear: both;
  display: block;
  visibility: hidden;
}
.g-f12 {font-size:12px !important;}
.g-f14 {font-size:14px !important;}
.g-f16 {font-size:16px !important;}
.g-f18 {font-size:18px !important;}
.g-f20 {font-size:20px !important;}
.g-f22 {font-size:22px !important;}
.g-f24 {font-size:24px !important;}
.g-f26 {font-size:26px !important;}
.g-f28 {font-size:28px !important;}

.g-g3 {color: #333 !important;}
.g-g4 {color: #444 !important;}
.g-g6 {color: #666 !important;}
.g-g9 {color: #999 !important;}
.g-hl-1 {color:#2072e9 !important;}
.g-hl-2 {color:#cc1b1b !important;}
.g-relative {
	position:relative;
}
.g-absolute {
	position:absolute;
}
.g-floatleft {
	float: left;
}
.g-floatright {
	float: right;
}
.g-b {font-weight:bold;}
.g-anim {
	-webkit-transition:all 0.3s ease-out;
	   -moz-transition:all 0.3s ease-out;
	    -ms-transition:all 0.3s ease-out;
	     -o-transition:all 0.3s ease-out;
	        transition:all 0.3s ease-out;
}
.g-v-middle {
    vertical-align: middle;
}
/*
 * ico
 */
.g-icobg {
	overflow:hidden;
	background:url("../img/common-ico.png") no-repeat;display:inline-block;
	vertical-align: middle;
}
.g-ico-comment {
	width:15px;height:15px;margin-right:5px;
	background-position:-14px -49px;
}
.g-ico-fav {
	width:10px;height:15px;margin-right:5px;
	background-position:0 -49px;
}
.g-ico-up {
    width:7px;height:8px;
    background-position: -47px -49px;
}
/*
 * header
 * 
 */
.g-header-outer {
    background:#333;
    height:50px;
}
.g-header {
    max-width:980px;margin:0 auto;
}
.g-header .inner {
    position:relative;
    padding:0 0 0 120px;
    box-sizing: border-box;
}
.g-header .maincol {
    margin: 0 30px;
}
.g-header .ct-logo {
    position:absolute;left:0;top:0;
    width:120px;height:50px;float:left;margin-right:44px;
    background:#c9c9c9;
    text-align:center;
}
.g-header .ct-logo .logo {
    overflow:hidden;
    height:50px;
    display:block;background:url(../img/logo.png) no-repeat;
    line-height:50px;text-indent:-999px;
}
.g-header .nav {
    float:left;
}
.g-header .nav li {
    float:left;height:50px;overflow:hidden;margin-right:50px;
}
.g-header .nav a {
    color:#fff; line-height:50px;
}
.g-header .head-right {
    float:right;width:360px;
}
.g-header .search {
    float:left;padding-top:8px;
}
.g-header .search .search-ico {
    width:19px;height:19px;
    background-position: -71px -196px;
}
.g-header .search .in-search {
    padding:10px 0 10px 6px;
    background:#333;
    border:0 none;color:#bbb;
}
.g-header .search .in-search:focus {
    background:#fff;
}
.g-header .search .in-search[placeholder],
.g-header .search .in-search::-webkit-input-placeholder,
.g-header .search .in-search:-ms-input-placeholder {
    color:#666;
}
.g-header .search .in-search::-webkit-input-placeholder {
    color:#666;
}
.g-header .login {
    position: relative;
    width:80px;float:right;
}
.g-header .login .btn-login {
    width:80px;height:50px;overflow:hidden;
    display:inline-block;
    line-height:50px;color:#666;text-align: center;
}
.g-header .login .submenu {
    position:absolute;right:0;top:50px;z-index:90;
    width:280px;height:120px;overflow:hidden;
    border-radius:0 0 7px 7px;
    background:#414141;
    color:#bbb;
    -webkit-transform:scale(0);
    transform: scale(0);
    -webkit-transform-origin: right top;
    transform-origin: right top;
}
.g-header .login:hover .btn-login,
.g-header .login .btn-login:hover {
    background:#414141;
    color:#fff;text-decoration: none;
}
.g-header .login:hover .submenu {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.g-header .login .plat-note {
    position:relative;
    height:40px;overflow:hidden;
    line-height:40px; text-align: center;font-size:12px;
}
.g-header .login .plat-note .line {
    position:absolute;top:20px;z-index:1;left:20px;
    background:#bbb;
    width:240px;height:1px;overflow:hidden;
}
.g-header .login .plat-note .desc {
    position:relative;z-index:3;
    padding:0 6px;
    background:#414141;display:inline-block;
    white-space:nowrap; word-wrap:normal;line-height:40px;
}
.g-header .login .plat {
    float:left;width:70px;height:71px;padding-top:9px;
    display:block;
    color:#fff;text-align: center;
}
.g-header .login .plat:hover {
    background:#333;
    text-decoration:none;
}
.g-header .login .plat .qq,
.g-header .login .plat .tencent,
.g-header .login .plat .weibo,
.g-header .login .plat .renren {
    width:32px;height:32px;margin:0 auto 9px;
    display: block;
}
.g-header .login .plat .qq {
    background-position: -71px -225px;
}
.g-header .login .plat .tencent {
    background-position: -71px -305px;
}
.g-header .login .plat .weibo {
    background-position: -71px -265px;
}
.g-header .login .plat .renren {
    background-position: -71px -344px;
}
/*
 * 导航ico
 * 
 */
.s-aside-nav .internation {
	width:17px;height:15px;margin-right:8px;
	background-position:0 -124px;
}
.s-aside-nav a:hover .internation,
.s-aside-nav .current .internation {
	background-position:-23px -124px;
}
.s-aside-nav .phone {
	width:17px;height:16px;margin-right:8px;
	background-position:0 -166px;
}
.s-aside-nav a:hover .phone,
.s-aside-nav .current .phone {
	background-position:-23px -166px;
}
.s-aside-nav .net {
	width:17px;height:17px;margin-right:8px;
	background-position:0 -144px;
}
.s-aside-nav a:hover .net,
.s-aside-nav .current .net {
	background-position:-23px -144px;
}
.s-aside-nav .economy {
	width:17px;height:14px;margin-right:8px;
	background-position:0 -189px;
}
.s-aside-nav a:hover .economy,
.s-aside-nav .current .economy {
	background-position:-23px -189px;
}
.s-aside-nav .entertainment {
	width:17px;height:14px;margin-right:8px;
	background-position:0 -212px;
}
.s-aside-nav a:hover .entertainment,
.s-aside-nav .current .entertainment {
	background-position:-23px -212px;
}

.s-aside-nav .house {
	width:17px;height:14px;margin-right:8px;
	background-position:0 -230px;
}
.s-aside-nav a:hover .house,
.s-aside-nav .current .house {
	background-position:-23px -230px;
}

.s-aside-nav .headlines {
	width:17px;height:14px;margin-right:8px;
	background-position:0 -248px;
}
.s-aside-nav a:hover .headlines,
.s-aside-nav .current .headlines {
	background-position:-23px -248px;
}

.s-aside-nav .allnews {
	width:17px;height:14px;margin-right:8px;
	background-position:0 -265px;
}
.s-aside-nav a:hover .allnews,
.s-aside-nav .current .allnews {
	background-position:-23px -265px;
}

.s-aside-nav .cnnews {
	width:17px;height:14px;margin-right:8px;
	background-position:0 -285px;
}
.s-aside-nav a:hover .cnnews,
.s-aside-nav .current .cnnews {
	background-position:-23px -285px;
}

.s-aside-nav .society {
	width:17px;height:16px;margin-right:8px;
	background-position:0 -305px;
}
.s-aside-nav a:hover .society,
.s-aside-nav .current .society {
	background-position:-23px -305px;
}

.s-aside-nav .sport {
	width:17px;height:16px;margin-right:8px;
	background-position:0 -327px;
}
.s-aside-nav a:hover .sport,
.s-aside-nav .current .sport {
	background-position:-23px -327px;
}

.s-aside-nav .pic {
    width:17px;height:16px;margin-right:8px;
    background-position:0 -349px;
}
.s-aside-nav a:hover .pic,
.s-aside-nav .current .pic {
    background-position:-23px -349px;
}

.s-aside-nav .car {
    width:17px;height:14px;margin-right:8px;
    background-position:0 -369px;
}
.s-aside-nav a:hover .car,
.s-aside-nav .current .car {
    background-position:-23px -369px;
}

.s-aside-nav .female {
    width:17px;height:16px;margin-right:8px;
    background-position:0 -387px;
}
.s-aside-nav a:hover .female,
.s-aside-nav .current .female {
    background-position:-23px -387px;
}

.s-aside-nav .military {
    width:17px;height:16px;margin-right:8px;
    background-position:0 -407px;
}
.s-aside-nav a:hover .military,
.s-aside-nav .current .military {
    background-position:-23px -407px;
}

.s-aside-nav .history {
    width:17px;height:16px;margin-right:8px;
    background-position:0 -427px;
}
.s-aside-nav a:hover .history,
.s-aside-nav .current .history {
    background-position:-23px -427px;
}
/*
 * common tips
 */
.g-news-tips {
    position:absolute;
    background:#000;
    background-color:rgba(0,0,0,0.9);
    color:#fff;
}
/*
 * platform
 * share
 */
.g-news-share {
	position:absolute;
	height:24px;
	display:none;
}
.g-news-share .outer {
	overflow:hidden;
}
.g-news-share .outer-left {
	position:absolute;right:0;top:0;
	height:24px;
}
.g-news-share .outer-right {
	position: absolute;left:0;top:0;
	height:24px;
}
.g-news-share .inner-right {
	position:absolute;top:0;right:-30px;
}
.g-news-share .g-icobg {
    width:24px;height:24px;margin-right:10px;
    opacity:0.5;
}
.g-news-share .g-icobg:hover {
    opacity: 1;
}
.g-news-share .weibo {
    background-position:-142px 0;
}
.g-news-share .qq {
    background-position:-142px -29px;
}
.g-news-share .tencent {
    background-position:-142px -57px;
}
.g-news-share .weixin {
    background-position:-142px -86px;
}
.g-news-share .renren {
    background-position:-142px -114px;
}
.g-news-share .kaixin {
    background-position:-142px -143px;
}
