html,body {
	min-height:100%;
}
body {
	background:url(../img/homebg.png) repeat center top;
}
/*
 * header
 * 
 */
.g-header-outer {
	background:#333;
	height:50px;
}
.g-header {
	max-width:980px;margin:0 auto;
}
.g-header .inner {
	position:relative;
	padding:0 210px 0 120px;
	box-sizing: border-box;
}
.g-header .ct-logo {
	width:120px;height:50px;float:left;margin-right:44px;
	background:#c9c9c9;
	text-align:center;
}
.g-header .ct-logo .logo {
	overflow:hidden;
	display:block;
	line-height:50px;
}
.g-header .nav {
	float:left;
}
.g-header .nav li {
	float:left;height:50px;overflow:hidden;margin-right:50px;
}
.g-header .nav a {
	color:#fff; line-height:50px;
}
/*
 * layout
 */
.g-wraper-inner {
	max-width:980px;margin:0 auto;
	background:url(../img/homebg.png) repeat-y -1960px 0;
	padding-top:20px;
}
.g-wraper {
	position:relative;
	height:100%;margin: 0 auto;
	padding:0 250px 0 40px;
	box-sizing: border-box;
}
.g-wraper-bg {
	min-height: 100%;
	background:url(../img/homebg.png) repeat-y -1880px 0;
}
.g-wraper .aside-left {
	position:absolute;left:0;top:0;
	width:40px;
}
.g-wraper .aside-right {
	position:absolute;right:0;top:0;
	width:250px;
}
.g-wraper .maincol {
	margin: 0 16px 0 30px;padding-right:48px;
}
.g-wraper-outer .maincol {
	border-right:1px solid #d7dde3;
}
/*
 * 
 */
.s-hot-menu {
	margin-bottom:24px;
}
.s-aside-nav a {
	width:28px;height:36px;overflow:hidden;padding-left:12px;
	display:block;background:#e7ebf0;
	line-height:36px;font-weight:bold;
	-webkit-transition:all 0.25s ease-in;
	   -moz-transition:all 0.25s ease-in;
	    -ms-transition:all 0.25s ease-in;
	     -o-transition:all 0.25s ease-in;
	        transition:all 0.25s ease-in;
}
.s-aside-nav .menu-text {
	display:none;
	white-space:nowrap;word-wrap:normal;
}
.s-aside-nav a:hover {
	width:108px;
	text-decoration:none;
	background:#454648;
	background-color:rgba(0,0,0,0.7);
	color:#fff;
}
.s-aside-nav a:hover .menu-text {
	display: inline;
}
.s-aside-nav .current {
	border-right:4px solid #f36119;
	background:#d2d8df;
}
/*
 * 正文部分
 * 
 */
.g-crumbs {
	margin-bottom:10px;
}
.s-detail .main-title {
	padding:16px 24px 0;height:134px;margin-bottom:16px;
	background:#158ec6;
	color:#fff;
}
.s-detail .rel-info {
	padding-bottom:15px;border-bottom:1px solid #d7dde3;margin-bottom:16px;
	color:#9fa3a7;font-family:simsun;
}
.s-detail .rel-info a {
	color:#9fa3a7;
}
.s-detail .rel-info .rel-op {
	float:left;
}
.s-detail .rel-info .update-info {
	float:right;
	text-align:right; white-space:nowrap; word-wrap: normal;
}
.s-news-article {
	padding-bottom:40px;border-bottom:4px solid #333;
	margin-bottom:16px;
}
.s-news-article p {
	padding:12px 0;
	line-height:28px;font-size:16px;font-weight:bold;color:#333438;
}
.s-detail .rel-news {
	
}
.s-detail .rel-news .origin {
	float:left;width:50%;
	color:#9fa3a7;
}
.s-detail .rel-news .share {
	float:left;
	color:#9fa3a7;
}
.s-detail .rel-news .keyword {
	
}
.s-detail .news-comment {
	padding-bottom:50px;
}
.s-detail .news-comment .comment-title {
	margin-bottom:20px;
}
.s-detail .news-comment li {
	position:relative;
	padding-left:67px;min-height:50px;margin-bottom:30px;
}
.s-detail .news-comment .ct-avatar {
	position: absolute;left:0;top:0;
	width:50px;height:50px;overflow:hidden;
}
.s-detail .news-comment .ct-avatar .avatar {
	width:50px;
}
.s-detail .news-comment .update-time {
	color:#bbb;
}
.s-detail .news-comment .username {
	color:#bbb;
}
.s-detail .news-comment .c-content {
	padding-top:6px;
}
.s-detail .news-comment .comment-edit .edit-item {
	margin-bottom:20px;
}
.s-detail .news-comment .comment-edit .in-username {
	width:50%;padding:10px 0 10px 12px;
	box-sizing:border-box;
}
.s-detail .news-comment .comment-edit .in-edit {
	width:100%;border:1px solid #74abe8;padding:10px 0 10px 12px;
	height:180px;
	box-sizing:border-box;
	resize:none;
}
.s-detail .news-comment .comment-edit .btn-normal {
	height:44px;overflow:hidden;padding:0 25px;
	background:#f36119;display:inline-block;
	line-height: 44px;color:#fff;white-space:nowrap;word-wrap:normal;
	-webkit-transition: opacity 0.2s ease-in-out;
	   -moz-transition: opacity 0.2s ease-in-out;
	        transition: opacity 0.2s ease-in-out;
}
.s-detail .news-comment .comment-edit .btn-normal:hover {
	opacity: 0.8;
	text-decoration: none;
}
/*
 * 侧边新闻
 * 
 */
.s-aside-news .title {
	margin-bottom:12px;
	font-weight:bold; font-size:16px;
}
.s-aside-news li {
	padding-bottom:8px;
	line-height:18px;
}
/*
 * footer
 */
.s-footer {
	width:100%;height:180px;
	background:#191919;
	background-color:rgba(0,0,0,0.9);
}
.s-footer .footer-outer {
	max-width:980px;margin:0 auto;
}
.s-footer .footer-inner {
	position:relative;
	padding:0 305px 0 70px;height:180px;
}
.s-footer .read-next {
	padding:18px 0 24px;
	color:#f36119;
}
.s-footer .next-title {
	padding-bottom:5px;
	color:#fff;
}
.s-footer .next-news {
	position:absolute;right:20px;top:50%;
	width:64px;height:64px;margin-top:-32px;
	background-position:-71px -124px;display:block;
}
.s-footer .next-news:hover {
	right:10px;
}
