html,body {
	min-height:100%;
}
body {
	background:url(../img/homebg.png) repeat center top;
}
/*
 * header
 * 
 */
.g-header {
	height:50px;
	background:#333;
}
.g-header .inner {
	width:980px;margin:0 auto;
}
.g-header .ct-logo {
	width:120px;height:50px;float:left;margin-right:44px;
	background:#c9c9c9;
	text-align:center;
}
.g-header .ct-logo .logo {
	overflow:hidden;
	display:block;
	line-height:50px;
}
.g-header .nav {
	float:left;
}
.g-header .nav li {
	float:left;height:50px;overflow:hidden;margin-right:50px;
}
.g-header .nav a {
	color:#fff; line-height:50px;
}
/*
 * layout
 */
.s-home-wraper .g-header {
	position:absolute;left:0;top:0;right:0;
	width:100%;
}
.g-wraper-inner {
	max-width:980px;margin:0 auto;
	background:url(../img/homebg.png) repeat-y -1880px 0;
	padding-top:70px;
}
.g-wraper {
	position:relative;
	height:100%;margin: 0 auto;
	padding:0 210px 0 120px;
	box-sizing: border-box;
}
.g-wraper-bg {
	min-height: 100%;
	background:url(../img/homebg.png) repeat-y -1880px 0;
}
.g-wraper .aside-left {
	position:absolute;left:0;top:0;
	width:120px;
}
.g-wraper .aside-right {
	position:absolute;right:0;top:0;
	width:210px;
}
.g-wraper .maincol {
	margin: 0 30px;
}
/*
 * news module
 * 
 * 
 */
.s-news-item {
	border-bottom:1px solid #d7dde3;margin-bottom: 16px;
}
.s-news-item .title {
	margin-bottom:12px;
	white-space:nowrap;overflow:hidden;word-wrap:normal;
	text-overflow:ellipsis;
}
.s-news-item .news-content {
	margin-bottom:16px;
}
.s-news-item .rel-info {
	padding-bottom:20px;
	color:#9fa3a7;font-family:simsun;
}
.s-news-item .rel-info a {
	color:#9fa3a7;
}
.s-news-item .rel-info .rel-op {
	float:left;
}
.s-news-item .rel-info .update-info {
	float:right;
	text-align:right; white-space:nowrap; word-wrap: normal;
}
.s-news-item-text .news-content .pic {
	float:left;margin-right:16px;
}
.s-news-item-pic .news-content .pic {
	float:left;margin-right:8px;
}
/*
 * 
 */
.s-hot-menu {
	margin-bottom:24px;
}
.s-hot-menu a {
	display:block;
	width:84px;height:36px;padding-left:36px;
	line-height:36px;font-weight:bold;
}
.s-hot-menu a:hover {
	text-decoration:none;
}
.s-hot-menu .current {
	border-right:4px solid #f36119;
	background:#d2d8df;
}
.s-aside-nav a {
	display:block;
	width:84px;height:36px;padding-left:36px;
	line-height:36px;
}
/*
 * weixin
 */
.s-weixin {
	margin-bottom:14px;
}
.s-weixin .ill {
	margin-bottom:16px;
	text-align:center;
}
.s-weixin .desc {
	line-height:20px;
}
/*
 * 微博
 */
.s-weibo {
	padding:22px 16px 16px;margin-bottom:38px;
	overflow:hidden;
	background:#faf7db;
}
.s-weibo .platlist {
	width:220px;margin-bottom:16px;
}
.s-weibo .platlist .g-icobg {
	width:24px;height:24px;margin-right:22px;
	text-indent:-1000px;
}
.s-weibo .platlist .weibo {
	background-position:0 -69px;
}
.s-weibo .platlist .qzone {
	background-position:-30px -69px;
}
.s-weibo .platlist .tencent {
	background-position:-59px -69px;
}
.s-weibo .platlist .weixin {
	background-position:-89px -69px;
}
.s-weibo .note {
	
}
/*
 * 24小时热榜
 */
.s-hot-top .title {
	margin-bottom:14px;
}
.s-hot-top .title-text {
	width:133px;height:25px;
	background-position:0 0;display:block;
	text-indent:-1000px;
}
.s-hot-top li {
	position:relative;
	padding-left:29px;margin-bottom:16px;
	line-height:20px;font-size:12px;
}
.s-hot-top .sn {
	position:absolute;left:0;top:3px;
	width:19px;height:15px;padding-right:2px;
	background-position:-27px -29px;
	color:#fff;font-weight:bold;text-align:center;line-height:15px;
}
.s-hot-top .sn-1 {
	background-position:0 -29px;
}
