<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>font unit</title>
	<style type="text/css">
		html {
			-webkit-text-size-adjust: 100%;
			font-size:100%; font-family:Arial, "Microsoft Yahei";line-height:1.5;
		}
		p {
			margin:0;padding:0;
		}
		.px-f12 {
			font-size:12px;
		}
		.per-f12 {
			font-size:75%;
		}
		.rem-f12 {
			font-size:0.75rem;
		}
		.em-f12 {
			font-size:0.75em;
		}
	</style>
</head>
<body>
	<p class="px-f12">国arial</p>
	<p class="em-f12">国arial</p>
	<p class="per-f12">国arial</p>
	<p class="rem-f12">国arial</p>
</body>
</html>