<!DOCTYPE html>
<html class="s-result s-result-a">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="Description" content="demo">
	<meta name="Keywords" content="demo">
	<link rel="stylesheet" type="text/css" href="../css/style.css?v4" />
	<title>demo</title>
</head>
<body>
	<section class="sec-1">
		<div class="scene"></div>
		<div class="aside"></div>
		<div class="walk"></div>
	</section>
	<section class="sec-2">
		<div class="scene"></div>
		<div class="aside"></div>
		<div class="walk"></div>
	</section>
	<section class="sec-3">
		<div class="scene"></div>
		<div class="walk"></div>
	</section>
	<script type="text/javascript" src="../js/channel/walk.js?v2"></script>
</body>
</html>