/*
 * reset css
 * 2014.3.24
 */
html,body {
    margin:0;padding:0;
    color:#333;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}
body {
    font:14px/1.5 Arial,"微软雅黑","Microsoft Yahei";

}
h1,h2,h3,h4,h5,h6,
div,ul,ol,dl,li,dt,dd,
p,em,i,b,cite,del,strong,pre,code,address,
form,fieldset,legend,input,textarea,select,
table,caption,thead,th,tbody,td,tfoot,
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    margin:0;padding:0;
    box-sizing:border-box;
    font-size:100%;font-style:normal;font-weight:normal;word-wrap:break-word;
    outline:none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display:block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
table {
    border-collapse:collapse;
    table-layout:fixed;
}
li {
    list-style:none;
}
img {
    border:0;
}
input,textarea,select {
    background:#fff;
}
a {
    color:#333;text-decoration:none;outline:none;
}
a:hover {
    color:#2072e9;text-decoration:none;
}

/**/
html,body {
	height:100%;
	background:#777;
}
.g-m-wrapper {
	position:absolute;left:0;top:0;bottom:0;right:0;
	width:100%;height:100%;overflow:hidden;
	display:none;
}
.g-m-cover {
	height:100%;
}
.g-m-ico {
	background:url(img/common.png) no-repeat;display:inline-block;
}
.g-arrow {
	position:absolute;left:50%;
	width:30px;height:30px;margin-left:-15px;
	border:2px solid #fff;
	border-radius:50%;
}
.g-arrow .arrow {
	position:absolute;left:4px;top:4px;
	width:11px;height:17px;
	background-position: 0 0;
	-webkit-animation: arrow 3s linear infinite;
	-webkit-transform: scale(0.5);
	opacity: 0;
}
@-webkit-keyframes arrow {
	40% {-webkit-transform:translateX(5px) scale(1);opacity: 1;}
	70% {-webkit-transform:translateX(5px) scale(1);opacity: 1;}
}
.g-m-cover .sec {
	position:relative;
	height:100%;float:left;
	background:url(img/m_bd_course_bg.jpg) no-repeat;
	background-size:cover;
}
.g-m-cover .sec1 {
	background:#f25a25;
}
.g-m-cover .sec1 .hat {
	position:absolute;left:50%;top:50%;
	margin:-108px 0 0 -30px;
	width:60px;height:35px;
	opacity: 0;
	-webkit-transform:scale(3);
	-webkit-transition: all 0.4s linear;
}
.g-m-cover .sec1-show .hat {
	opacity: 1;
	-webkit-transform:scale(1);
}
.g-m-cover .sec1 .hat-main {
	position:absolute;left:3px;top:0;
	width:54px;height:31px;
	background:url(img/hat.png) no-repeat;display: block;
}
.g-m-cover .sec1 .hat-tassels {
	position: absolute;left:49px;top:10px;
	width:2px;height:14px;
	background:#fff;display:block;
	-webkit-animation: hat 2s linear infinite; 
	-webkit-transform-origin: center top;
}
.g-m-cover .sec1 .hat-tassels:before {
	content:'';
	display:block;
	position:absolute;left:-2px;bottom:-3px;z-index:2;
	width:6px;height:6px;
	border-radius: 50%;
	background:#fff;
}
@-webkit-keyframes hat {
	30% {-webkit-transform:rotate(-20deg);}
	40% {-webkit-transform:rotate(-10deg);}
	50% {-webkit-transform:rotate(-15deg);}
	80% {-webkit-transform:rotate(-5deg);}
}
.g-m-cover .sec1 .desc {
	position:absolute;left:0;bottom:50%;
	width:100%;
	color:#fff;line-height: 25px;text-align: center;
}
.g-m-cover .sec1 .p1 {
	font-size:12px;
	opacity: 0;
}
.g-m-cover .sec1-show .p1 {
	opacity:1;
	-webkit-animation: anim_move_alpha 1s linear;
}
@-webkit-keyframes anim_alpha {
	0% {opacity:0;}
	50% {opacity: 0}
	100% {opacity:1}
}
@-webkit-keyframes anim_move_alpha {
	0% {opacity:0;-webkit-transform:translateY(20px);}
	50% {opacity: 0;-webkit-transform:translateY(20px);}
	100% {opacity:1;-webkit-transform:translateY(0);}
}
@-webkit-keyframes anim_scale {
	0% {opacity:0;-webkit-transform:scale(5);}
	50% {opacity: 0;-webkit-transform:scale(5);}
	100% {opacity:1;-webkit-transform:scale(1);}
}
.g-m-cover .sec1 .p2 {
	font-size:18px;
	opacity: 0;
}
.g-m-cover .sec1-show .p2 {
	opacity:1;
	-webkit-animation: anim_move_alpha 1.8s linear;
}
.g-m-cover .sec1 .g-arrow {
	bottom:40px;
	opacity: 0;
}
.g-m-cover .sec1 .slogan {
	position:absolute;left:0;bottom:90px;
	width:100%;
	font-size:14px;color:#fff;text-align:center;
	opacity: 0;
}
.g-m-cover .sec1-show .slogan {
	opacity: 1;
	-webkit-animation: anim_alpha 2.8s linear;
}
.g-m-cover .sec1-show .g-arrow {
	opacity: 1;
	-webkit-animation: anim_alpha 3.2s linear;
}
/**sec02**/
.g-m-cover .sec2 {
	background:#199dce;
	color:#fff;
}
.g-m-cover .sec2 .bottom-side {
	position:absolute;left:0;right:0;top:56%;bottom:0;
	background:#32bff4;
}
.g-m-cover .sec2 .bottom-side .split {
	width:100%;height:58px;margin-top:-54px;
	background:url(img/split_clound.png) repeat-x;
}
.g-m-cover .sec2 .title {
	position:absolute;left:0;top:25%;z-index:2;
	width:100%;margin-top:-40px;
	color:#fff;font-size:20px;text-align:center;
}
.g-m-cover .sec2 .sub-title {
	position:absolute;left:0;top:25%;z-index:2;
	width:100%;margin-top:70px;
	text-align:center;
}
.g-m-cover .sec2 .loading {
	position:absolute;z-index:2;left:0;top:25%;
	width:100%;
	text-align:center;
}
.g-m-cover .sec2 .loading .load-main {
	height:41px;
}
.g-m-cover .sec2 .loading .loading-ico {
	width:54px;height:41px;
	background-position: 0 -22px;
	-webkit-animation: loading 2s linear infinite;
	-webkit-transform-origin: left bottom;
}
@-webkit-keyframes loading {
	0% {-webkit-transform:scale(0.85);}
	50% {-webkit-transform:scale(1);}
	100% {-webkit-transform:scale(0.85);}
}
.g-m-cover .sec2 .slogan {
	position:absolute;left:0;bottom:120px;z-index:2;
	width:100%;
	font-size:14px;color:#fff;text-align:center;
}
.g-m-cover .sec2 .g-arrow {
	bottom:70px;z-index: 2;
}
/**/
.g-m-cover .sec3 {
	background:#d44032;
	color:#fff;
}
.g-m-cover .sec3 .taglist {
	position:absolute;left:50%;bottom:50%;
	width:173px;height:173px;margin-left:-86px;margin-bottom:40px;
	background:url(img/tag.png) no-repeat;
}
.g-m-cover .sec3 .taglist .clound {
	width:173px;height:173px;
	-webkit-animation: rotation 8s linear infinite;
}
.g-m-cover .sec3 .taglist .clound-1 {
	position:absolute;top:16px;left:4px;
	width:54px;height:30px;
	background-position: 0 -22px;
	-webkit-transform:scale(0.7);
	-webkit-transform-origin:left top;
}
.g-m-cover .sec3 .taglist .clound-2 {
	position:absolute;bottom:16px;right:16px;
	width:54px;height:30px;
	background-position: 0 -22px;
	-webkit-transform:scale(0.5);
	-webkit-transform-origin:right bottom;	
}
@-webkit-keyframes rotation {
	0% {-webkit-transform:rotate(0);-webkit-transform-origin: center center;}
	30% {-webkit-transform:rotate(10deg);-webkit-transform-origin: center center;}
	70% {-webkit-transform:rotate(-10deg);-webkit-transform-origin: center center;}
	100% {-webkit-transform:rotate(0deg);-webkit-transform-origin: center center;}
}
.g-m-cover .sec3 .student {
	position:absolute;left:50%;top:50%;
	width:133px;height:117px;margin-left:-66px;margin-top:-30px;
	background-position:0 -71px;
}
.g-m-cover .sec3 .desc {
	position:absolute;left:0;bottom:80px;
	width:100%;
	text-align:center;
}
.g-m-cover .sec3 .desc .sp {
	-webkit-animation: trans 2s linear infinite;
	-webkit-transform:translateZ(-100px);
	font-size:20px;
}
.g-m-cover .sec3 .desc .no-1 {
	width:13px;height:13px;
	border:1px solid #fff;
	border-radius:50%;
	display:inline-block;
	font-size:10px;font-weight:bold;line-height:12px;vertical-align: middle;
}
.g-m-cover .sec3 .trans {
	width:40px;height:40px;
	-webkit-animation: trans 2s linear infinite;
	-webkit-transform:translateZ(-100px);
	-webkit-transform-origin:center center;
}
@-webkit-keyframes trans {
	0% {-webkit-transform:rotateY(0);}
	20% {-webkit-transform:rotateY(0);}
	40% {-webkit-transform:rotateY(-60deg);}
	50% {-webkit-transform:rotateY(0);}
	60% {-webkit-transform:rotateY(180deg);}
	80% {-webkit-transform:rotateY(0);}
	100% {-webkit-transform:rotateY(0);}
}
.g-m-cover .sec3 .g-arrow {
	bottom:40px;
}
/**/
.g-m-cover .sec4 {
	background:#d53f6a;
	color:#fff;
}
.g-m-cover .sec4 .title {
	position:absolute;left:0;bottom:50%;
	width:100%;padding-bottom:120px;
	text-align:center;
}
.g-m-cover .sec4 .title .words {
	border:1px solid #fff;height:26px;
	display:inline-block;
}
.g-m-cover .sec4 .title .word {
	width:32px;height:26px;overflow:hidden;margin-left:-1px;
	border-left:1px solid #fff;
	display:inline-block;
	line-height:26px;font-size:20px;
}
.g-m-cover .sec4 .sub-title {
	
}
.g-m-cover .sec4 .desc {
	position:absolute;left:0;top:50%;
	width:100%;margin-top:68px;
	text-align:center;
}
.g-m-cover .sec4 .student {
	position:absolute;left:50%;bottom:50%;
	width:125px;height:123px;margin:0 0 -30px -62px;
	background-position:0 -194px;
}
.g-m-cover .sec4 .student .q-1 {
	position:absolute;left:-34px;top:-16px;
	width:24px;height:34px;
	background-position:0 -328px;
	-webkit-animation: q_1 1.2s linear infinite;
}
@-webkit-keyframes q_1 {
	0% {-webkit-transform:translate(0,0)}
	60% {-webkit-transform:translate(-8px,-10px)}
	0% {-webkit-transform:translate(0,0)}
}
.g-m-cover .sec4 .student .q-2 {
	position:absolute;right:-30px;top:-16px;
	width:25px;height:33px;
	background-position:-44px -328px;
	-webkit-animation: q_2 1.2s linear infinite;
}
@-webkit-keyframes q_2 {
	0% {-webkit-transform:translate(0,0)}
	60% {-webkit-transform:translate(8px,-10px)}
	0% {-webkit-transform:translate(0,0)}
}
.g-m-cover .sec4 .g-arrow {
	bottom:40px;
}
/**/
.g-m-cover .sec5 {
	background:#722cd1;
	color:#fff;
}
.g-m-cover .sec5 .title {
	position:absolute;left:0;bottom:50%;
	width:100%;padding-bottom:120px;
	text-align:center;
}
.g-m-cover .sec5 .title .words {
	border:1px solid #fff;height:26px;
	display:inline-block;
}
.g-m-cover .sec5 .title .word {
	width:32px;height:26px;overflow:hidden;margin-left:-1px;
	border-left:1px solid #fff;
	display:inline-block;
	line-height:26px;font-size:20px;
}
.g-m-cover .sec5 .phone {
	position:absolute;left:50%;top:50%;
	width:142px;height:162px;margin-left:-71px;margin-top:-78px;
	background-position: 0 -370px;
}
.g-m-cover .sec5 .phone .bullion {
	position:absolute;left:10px;top:48px;
	width:114px;height:72px;
	background-position:0 -535px;
	opacity: 0;
}
.g-m-cover .sec5-show .phone .bullion {
	opacity: 1;
	-webkit-animation: anim_scale 0.5s linear;
}
.g-m-cover .sec5 .phone .btn-enter {
	position:absolute;left:50%;top:130px;
	height:20px;overflow:hidden;width:70px;margin-left:-35px;
	border-radius:10px;
	display:inline-block;background:#f45023;
	line-height:20px;text-align:center;
}
.g-m-cover .sec5 .desc {
	position:absolute;left:0;top:50%;
	width:100%;margin-top:100px;
	text-align:center;
}
.g-m-cover .sec5 .g-arrow {
	bottom:40px;
}
/**/
.g-m-cover .sec6 {
	background:#ff5b28;
	color:#fff;
}
.g-m-cover .sec6 .title {
	position:absolute;left:0;bottom:50%;
	width:100%;padding-bottom:120px;
	text-align:center;
}
.g-m-cover .sec6 .title .words {
	border:1px solid #fff;height:26px;
	display:inline-block;
}
.g-m-cover .sec6 .title .word {
	width:32px;height:26px;overflow:hidden;margin-left:-1px;
	border-left:1px solid #fff;
	display:inline-block;
	line-height:26px;font-size:20px;
}
.g-m-cover .sec6 .taglist {
	position:absolute;left:0;top:50%;
	width:100%;margin-top:-94px;
	text-align:center;
}
.g-m-cover .sec6 .taglist .tag {
	padding:0 4px;
}
.g-m-cover .sec6 .taglist .tag-1 {
	color:#ffee2d;font-size:14px;
}
.g-m-cover .sec6 .taglist .tag-2 {
	font-size:15px;
}
.g-m-cover .sec6 .taglist .tag-3 {
	color:#ffee2d;font-size:13px;
}
.g-m-cover .sec6 .taglist .tag-5 {
	font-size:21px;
}
.g-m-cover .sec6 .taglist .tag-6 {
	color:#ffee2d;font-size:21px;
}
.g-m-cover .sec6 .taglist .tag-7 {
	color:#ffee2d;font-size:12px;
}
.g-m-cover .sec6 .taglist .tag-8 {
	background:#176dc6;
	font-size:12px;
}
.g-m-cover .sec6 .taglist .tag-9 {
	font-size:16px;
}
.g-m-cover .sec6 .taglist .tag-10 {
	font-size:12px;color:#ffee2d;
}
.g-m-cover .sec6 .taglist .tag-11 {
	font-size:18px;
}
.g-m-cover .sec6 .taglist .tag-12 {
	font-size:16px;color:#ffee2d;
}
.g-m-cover .sec6 .desc {
	position:absolute;left:0;bottom:80px;
	width:100%;
	text-align:center;
}
.g-m-cover .sec6 .g-arrow {
	bottom:40px;
}
/**/
.g-m-cover .sec7 {
	background:#00af80;
	color:#fff;
}
.g-m-cover .sec7 .title {
	position:absolute;left:0;bottom:50%;
	width:100%;padding-bottom:120px;
	text-align:center;
}
.g-m-cover .sec7 .title .words {
	position:relative;
	border:1px solid #fff;height:26px;
	display:inline-block;
}
.g-m-cover .sec7 .title .line {
	position:absolute;left:0;right:0;bottom:-18px;
	height:1px;overflow:hidden;
	background:#fff;
}
.g-m-cover .sec7 .title .word {
	width:25px;height:26px;overflow:hidden;margin-left:-1px;
	border-left:1px solid #fff;
	display:inline-block;
	line-height:26px;font-size:14px;
}
.g-m-cover .sec7 .sub-title {
	position:relative;z-index: 3;
}
.g-m-cover .sec7 .sub-title .sub-title-text {
	padding:0 10px;
	background:#00af80;
}
.g-m-cover .sec7 .taglist {
	position:absolute;left:0;top:50%;
	width:100%;margin-top:-94px;
	text-align:center;
}
.g-m-cover .sec7 .taglist .tag {
	padding:0 0.2em;
	line-height:1.2;
}
.g-m-cover .sec7 .taglist .tag-1 {
	color:#00d89e;font-size:8px;
}
.g-m-cover .sec7 .taglist .tag-2 {
	font-size:14px;
}
.g-m-cover .sec7 .taglist .tag-3 {
	color:#00d89e;font-size:8px;
}
.g-m-cover .sec7 .taglist .tag-4 {
	color:#00d89e;font-size:8px;
}
.g-m-cover .sec7 .taglist .tag-5 {
	font-size:17px;color:#77ffda;
}
.g-m-cover .sec7 .taglist .tag-6 {
	display:none;
	color:#00d89e;font-size:8px;
}
.g-m-cover .sec7 .taglist .tag-7 {
	font-size:16px;
}
.g-m-cover .sec7 .taglist .tag-8 {
	font-size:16px;
}
.g-m-cover .sec7 .taglist .tag-9 {
	font-size:16px;
}
.g-m-cover .sec7 .taglist .tag-10 {
	font-size:16px;
}
.g-m-cover .sec7 .taglist .tag-11 {
	font-size:16px;
}
.g-m-cover .sec7 .taglist .tag-12 {
	padding-left:20px;
	font-size:12px;color:#00dca1;
}
.g-m-cover .sec7 .taglist .tag-13 {
	font-size:12px;
}
.g-m-cover .sec7 .taglist .tag-14 {
	font-size:18px;color:#77ffda;
}
.g-m-cover .sec7 .taglist .tag-15 {
	font-size:12px;color:#00dca1;
}
.g-m-cover .sec7 .taglist .tag-16 {
	font-size:15px;
}
.g-m-cover .sec7 .taglist .tag-17 {
	font-size:15px;
}
.g-m-cover .sec7 .taglist .tag-18 {
	font-size:18px;
}
.g-m-cover .sec7 .taglist .tag-19 {
	font-size:18px;color:#77ffda;
}
.g-m-cover .sec7 .taglist .tag-20 {
	font-size:12px;color:#00d89e;
	-webkit-transform: scale(0.5);
}
.g-m-cover .sec7 .taglist .tag-21 {
	font-size:15px;color:#77ffda;
}
.g-m-cover .sec7 .taglist .tag-22 {
	font-size:12px;color:#00d89e;
}
.g-m-cover .sec7 .desc {
	position:absolute;left:0;bottom:70px;
	width:100%;
	text-align:center;
}
.g-m-cover .sec7 .desc .tips {
	font-size:12px;
}
.g-m-cover .sec7 .desc .login {
	padding:0 8px;overflow:hidden;
	background:#984ace;display:inline-block;
	line-height:20px;
}
.g-m-cover .sec7 .desc .price {
	padding:0 8px;overflow:hidden;
	background:#f76e00;display:inline-block;
	line-height:20px;
}
.g-m-cover .sec7 .desc .price .right {
	width:14px;height:13px;margin-left:5px;
	background-position: -84px -328px;
}
.g-m-cover .sec7 .g-arrow {
	bottom:30px;
}
/**/
.g-m-cover .sec8 {
	background:#f04632;
	color:#fff;
}
.g-m-cover .sec8 .title {
	position:absolute;left:0;bottom:50%;
	width:100%;padding-bottom:120px;
	text-align:center;
}
.g-m-cover .sec8 .title .words {
	border:1px solid #fff;height:26px;
	display:inline-block;
}
.g-m-cover .sec8 .title .word {
	width:26px;height:26px;overflow:hidden;margin-left:-1px;
	border-left:1px solid #fff;
	display:inline-block;
	line-height:26px;font-size:14px;
}
.g-m-cover .sec8 .sub-title {
	font-size:12px;
}
.g-m-cover .sec8 .phone {
	position:absolute;left:50%;top:50%;
	width:142px;height:162px;margin-left:-71px;margin-top:-78px;
	padding-top:122px;
	background-position: 0 -370px;
	text-align:center;
}
.g-m-cover .sec8 .phone-content {
	position:absolute;left:50%;top:50%;
	width:142px;height:162px;margin-left:-71px;margin-top:-78px;
	padding-top:122px;
	text-align:center;
}
.g-m-cover .sec8 .friends {
	position:absolute;left:33px;top:48px;
	width:70px;height:76px;
	background-position:0 -624px;
}
.g-m-cover .sec8 .slogan {
	padding-bottom:10px;
	font-size:12px;line-height:20px;
}
.g-m-cover .sec8 .btn-share {
	height:20px;overflow:hidden;padding:0 10px;margin:0 2px;
	border-radius:10px;
	display:inline-block;background:#246db1;
	line-height:20px;text-align:center;
}
.g-m-cover .sec8 .btn-order {
	height:20px;overflow:hidden;padding:0 10px;margin:0 2px;
	border-radius:10px;
	display:inline-block;background:#65357c;
	line-height:20px;text-align:center;
}
.g-m-cover .sec8 .logo {
	position:absolute;left:50%;bottom:40px;
	width:54px;height:17px;margin-left:-27px;
	background-position: -75px 0;
}
.g-m-cover .sec8 .g-arrow {
	bottom:40px;
}
.layer-share {
	position:absolute;left:50%;top:50%;z-index:100;
	width:240px;height:128px;margin:-64px 0 0 -120px;padding:20px 0 0;
	border-radius:15px;
	background:rgba(0,0,0,.8);display:none;
	font-size:14px;line-height:30px;color:#fff;text-align:center;
}
.layer-share .koo {
	padding:0 5px;
	color:#f04632;
}
.music-ico {
    position:fixed;right:10px;top:10px;z-index:100;
    width:27px;height:28px;
    background:url(img/music_ico.png) no-repeat;
}
.music-ico-on {
    -webkit-animation: music 1.5s linear infinite;
}
@-webkit-keyframes music {
    from {-webkit-transform:rotateZ(0deg)}
    to {-webkit-transform:rotateZ(-360deg)}
}